In [1]:
pip install nltk

Note: you may need to restart the kernel to use updated packages.Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 706.1 kB/s eta 0:00:00
Collecting click
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
     -------------------------------------- 97.9/97.9 kB 181.2 kB/s eta 0:00:00
Collecting joblib
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ------------------------------------ 302.2/302.2 kB 142.6 kB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2023.12.25-cp311-cp311-win_amd64.whl (269 kB)
     ------------------------------------ 269.5/269.5 kB 368.8 kB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
     -------------------------------------- 78.3/78.3 kB 174.5 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\dexte\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.7 joblib-1.3.2 nltk-3.8.1 regex-2023.12.25 tqdm-4.66.2

  WARNING: The script tqdm.exe is installed in 'c:\Users\dexte\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script nltk.exe is installed in 'c:\Users\dexte\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dexte\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
     -------------------------------------- 11.6/11.6 MB 544.6 kB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dexte\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dexte\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ------------------------------------ 505.5/505.5 kB 364.1 kB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ------------------------------------ 345.4/345.4 kB 345.9 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\dexte\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
fake = pd.read_csv(r'C:\Users\dexte\Desktop\1stopProject\News NLP\Fake.csv')
genuine = pd.read_csv(r'C:\Users\dexte\Desktop\1stopProject\News NLP\True.csv.csv')
fake

C:\Users\dexte\AppData\Local\Temp\ipykernel_42100\1035889301.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv(r'C:\Users\dexte\Desktop\1stopProject\News NLP\Fake.csv')

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23480,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23481,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23482,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23483,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23484,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fake['genuiness'] = 0
genuine['genuiness'] = 1
genuine

,title,text,subject,date,genuiness
0,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
1,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
2,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
3,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
4,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21329,Excessive force won't solve Myanmar's Rohingya...,YANGON (Reuters) - Myanmar should respond to a...,worldnews,"August 24, 2017",1
21330,Venezuela ex-prosecutor says she has evidence ...,BRASILIA/CARACAS (Reuters) - Dismissed Venezue...,worldnews,"August 23, 2017",1
21331,"Typhoon batters Hong Kong and south China, thr...","HONG KONG (Reuters) - Typhoon Hato, a maximum ...",worldnews,"August 22, 2017",1
21332,Blunt instrument? What a list of banned articl...,SHANGHAI (Reuters) - An old review of an acade...,worldnews,"August 23, 2017",1
21333,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1

In [8]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23485 entries, 0 to 23484
Columns: 173 entries, title to genuiness
dtypes: int64(1), object(172)
memory usage: 31.0+ MB

None

In [9]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21334 entries, 0 to 21333
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      21334 non-null  object
 1   text       21334 non-null  object
 2   subject    21334 non-null  object
 3   date       21334 non-null  object
 4   genuiness  21334 non-null  int64
dtypes: int64(1), object(4)
memory usage: 833.5+ KB

None

In [10]:
display(genuine.head(5))

,title,text,subject,date,genuiness
0,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
1,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
2,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
3,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
4,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1

In [11]:
display(fake.subject.value_counts())

subject
News                                                                                                                                                                                                                                                                                            9031
politics                                                                                                                                                                                                                                                                                        6838
left-news                                                                                                                                                                                                                                                                                       4457
Government News                                                                                                                                                                                                                                                                                 1570
US_News                                                                                                                                                                                                                                                                                          775
Middle-east                                                                                                                                                                                                                                                                                      760
 high taxes                                                                                                                                                                                                                                                                                        2
 claimed that hundreds of alternative media websites were producing  fake news  and  conspiracy  stories and therefore were unreliable as information sources. It wasn t long before the establishment began referencing these politicized lists                                                   2
 of which Soros is a major financier.Mercy Corps: Vis a vis the Arab-Israeli conflict                                                                                                                                                                                                              2
 and so is Mr. Katzenbach                                                                                                                                                                                                                                                                          2
 fell 5.6 percent Monday. Wynn Resortsslipped 1.2 percent. Las Vegas Sands fell as much as 2.1 percent before closing higher.   LIVE DRILL    Las Vegas has been at the forefront of active shooter training. ( Image Source: sinclairstoryline)Las Vegas Active Shooter Drills Back in 2014       2
 state systems with outsized pretensions to power have reacted to their environments in two ways. The first strategy                                                                                                                                                                               2
 decided not to seek re-election. While much of the mainstream media waxed poetic about his 30-year career                                                                                                                                                                                         2
 the defense industry                                                                                                                                                                                                                                                                              2
 Karl Marx is either a villain or a hero of social engineering                                                                                                                                                                                                                                     2
 a future nuclear family                                                                                                                                                                                                                                                                           2
 Politics According to the Bible and (with Barry Asmus) The Poverty of Nations: A Sustainable Solution.Via: Townhall"                                                                                                                                                                              1
Name: count, dtype: int64

In [12]:
fake['target'] = 0
genuine['target'] = 1
display(genuine.head(5))

,title,text,subject,date,genuiness,target
0,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1,1
1,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1,1
2,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1,1
3,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1,1
4,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1,1

In [13]:
data = pd.concat([fake,genuine],axis=0)

In [14]:
data = data.reset_index(drop=True)

In [15]:
data = data.drop(['subject','date','title'],axis=1)

In [16]:
print(data.columns)

Index(['text', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       ...
       'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167',
       'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171',
       'genuiness', 'target'],
      dtype='object', length=171)

In [17]:
from nltk.tokenize import word_tokenize

In [18]:
data['text'] = data['text'].apply(word_tokenize)

In [ ]:
print(data.head(5))

                                                text Unnamed: 4 Unnamed: 5  \
0  House Intelligence Committee Chairman Devin Nu...        NaN        NaN
1  On Friday, it was revealed that former Milwauk...        NaN        NaN
2  On Christmas day, Donald Trump announced that ...        NaN        NaN
3  The number of cases of cops brutalizing and ki...        NaN        NaN
4  Donald Trump spent a good portion of his day a...        NaN        NaN

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0        NaN        NaN        NaN        NaN         NaN         NaN
1        NaN        NaN        NaN        NaN         NaN         NaN
2        NaN        NaN        NaN        NaN         NaN         NaN
3        NaN        NaN        NaN        NaN         NaN         NaN
4        NaN        NaN        NaN        NaN         NaN         NaN

  Unnamed: 12  ... Unnamed: 164 Unnamed: 165 Unnamed: 166 Unnamed: 167  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         NaN  ...          NaN          NaN          NaN          NaN
2         NaN  ...          NaN          NaN          NaN          NaN
3         NaN  ...          NaN          NaN          NaN          NaN
4         NaN  ...          NaN          NaN          NaN          NaN

  Unnamed: 168 Unnamed: 169 Unnamed: 170 Unnamed: 171 genuiness target
0          NaN          NaN          NaN          NaN         0      0
1          NaN          NaN          NaN          NaN         0      0
2          NaN          NaN          NaN          NaN         0      0
3          NaN          NaN          NaN          NaN         0      0
4          NaN          NaN          NaN          NaN         0      0

[5 rows x 171 columns]

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english')

In [ ]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(5))

                                                text Unnamed: 4 Unnamed: 5  \
0  [h, o, u, s, e,  , i, n, t, e, l, l, i, g, e, ...        NaN        NaN
1  [o, n,  , f, r, i, d, a, y, ,,  , i, t,  , w, ...        NaN        NaN
2  [o, n,  , c, h, r, i, s, t, m, a, s,  , d, a, ...        NaN        NaN
3  [t, h, e,  , n, u, m, b, e, r,  , o, f,  , c, ...        NaN        NaN
4  [d, o, n, a, l, d,  , t, r, u, m, p,  , s, p, ...        NaN        NaN

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0        NaN        NaN        NaN        NaN         NaN         NaN
1        NaN        NaN        NaN        NaN         NaN         NaN
2        NaN        NaN        NaN        NaN         NaN         NaN
3        NaN        NaN        NaN        NaN         NaN         NaN
4        NaN        NaN        NaN        NaN         NaN         NaN

  Unnamed: 12  ... Unnamed: 164 Unnamed: 165 Unnamed: 166 Unnamed: 167  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         NaN  ...          NaN          NaN          NaN          NaN
2         NaN  ...          NaN          NaN          NaN          NaN
3         NaN  ...          NaN          NaN          NaN          NaN
4         NaN  ...          NaN          NaN          NaN          NaN

  Unnamed: 168 Unnamed: 169 Unnamed: 170 Unnamed: 171 genuiness target
0          NaN          NaN          NaN          NaN         0      0
1          NaN          NaN          NaN          NaN         0      0
2          NaN          NaN          NaN          NaN         0      0
3          NaN          NaN          NaN          NaN         0      0
4          NaN          NaN          NaN          NaN         0      0

[5 rows x 171 columns]

In [ ]:
#from nltk.corpus import stopwords

In [ ]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(5))

  text Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0   []        NaN        NaN        NaN        NaN        NaN        NaN
1   []        NaN        NaN        NaN        NaN        NaN        NaN
2   []        NaN        NaN        NaN        NaN        NaN        NaN
3   []        NaN        NaN        NaN        NaN        NaN        NaN
4   []        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 10 Unnamed: 11 Unnamed: 12  ... Unnamed: 164 Unnamed: 165  \
0         NaN         NaN         NaN  ...          NaN          NaN
1         NaN         NaN         NaN  ...          NaN          NaN
2         NaN         NaN         NaN  ...          NaN          NaN
3         NaN         NaN         NaN  ...          NaN          NaN
4         NaN         NaN         NaN  ...          NaN          NaN

  Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 171 genuiness target
0          NaN         0      0
1          NaN         0      0
2          NaN         0      0
3          NaN         0      0
4          NaN         0      0

[5 rows x 171 columns]

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
pip install -U scikit-learn scipy matplotlib

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.45)
display(X_train.head())
print('\n')
display(y_train.head())

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.5)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=700)
model_1.fit(tfidf_train,y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=60)
model.fit(tfidf_train,y_train)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test,y_pred)
print('Accuracy of the prediction is',accscore*100)